html, body {
    box-sizing: border-box;
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;

    background-image: url(cold-conifer-dawn-917494.jpg);
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} 
header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 300;
}
main {
    padding-top: 50px;
    height: 100%;
}
nav {
    background-color: rgb(230,229,231);
    height: 50px;
    padding: 0 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
}
ul {
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo {
    font-size: 20px;
    font-family: 'Slabo 13px', serif;
}
li {
    font-family: 'Slabo 13px', serif;
    margin: 0 10px;
    list-style-type: none;
}
a {
    color: rgb(188,109,51);
    text-decoration: none;
}
a:focus {
    outline-color: rgb(87,153,12);
}
.head-page {
    background-color: rgb(255,255,255, .5);
    height: calc(100% - 50px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-page {
    margin: 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.project-page {
    margin-bottom: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-page {
    background-color: rgb(255,255,255,.3);
    display: flex;
    flex-direction: column;
}
.head-container>h1 {
    color: rgb(82,62,47);
    font-family: 'Ultra', serif;
    font-weight: lighter;
    font-size: 40px;
}
.head-container>p {
    margin-top: 0;
    padding-top: 0;
    color: rgb(188,109,51);
    font-family: 'Stint Ultra Expanded', cursive;
    font-size: 40px;
}
.head-container {
    margin-bottom: 25%;
    text-align: center;
}
.about-border {
    text-align: center;
}
.about-container {
    text-align: left;
    background-color: rgb(255,255,255,.7);
    margin: 30px 10px;
    border: 2px solid rgb(188,109,51);
}
h2 {
    padding-top: 50px;
    color: rgb(82,62,47);
    font-size: 50px;
    font-family: 'Stint Ultra Expanded', cursive;
}
.about-container>p {
    font-family: 'Slabo 13px', serif;
    font-size: 20px;
    margin: 30px 20px;
}

.project-container {
    background-color: rgb(255,255,255,.7);
    margin: 0 10px;
    margin-bottom: 40px;
    border: 2px solid rgb(188,109,51);
}

.contact-container{
    margin-left: 30px;
    margin-bottom: 20px;
}
.contact-container>h4 {
    font-size: 30px;
}
img {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 1px solid black;
}
.project-description {
    font-family: 'Slabo 13px', serif;
    margin-bottom: 20px;
    margin-left: 10px;
}
.project-description>h3 {
    margin-bottom: 50px;
    font-family: 'Stint Ultra Expanded', cursive;
    font-weight: lighter;
}
button {
    cursor: pointer;
    background-color: rgb(82,62,47);
    color: rgb(188,109,51);
    font-size: 20px;
    padding: 10px;
    border-radius: 3%;
}
button:focus {
    outline-color: rgb(87,153,12);
}
button>.popup {
    display: block;
    font-size: 10px;
}
.fab, .fas {
    font-size: 30px;
    margin: 0 10px;
}
.prompt {
    font-size: 15px;
}
.contact-container>span>a{
    color: white;
}
.contact-container>p>a {
    color: white;
}
.contact-container>span>a:hover{
    color: black;
}
.contact-container>p>a:hover {
    color: rgb(87,153,12);
}



@media only screen and (min-width: 600px) {
    nav {
        padding: 0 50px;
    }
    .about-container {
        max-width: 400px;
        padding: 30px;
    }
    .about-container>p {
        font-size: 22px;
    }
    .project-container {
        width: 460px;
    }
}


@media only screen and (min-width: 900px) {
    .border {
        margin: 50px 50px;
        border: 2px solid rgb(188,109,51);
    }
    .about-container {
        max-width: 500px;
        padding: 30px;
    }
    .about-container>p {
        font-size: 25px;
    }
    .project-container {
        width: 560px;
    }
}